git+https://github.com/newreposs/onem5
git+https://github.com/newreposs/onem6
aioshutil
anytree
apscheduler
git+https://github.com/newreposs/onem1
asyncio
beautifulsoup4
cfscrape
dnspython
feedparser
flask
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
git+https://github.com/zevtyardt/lk21.git
httpx
lxml
motor
natsort
pillow
psutil
pybase64
pymongo
pyrogram
python-dotenv
python-magic
git+https://github.com/newreposs/onem4
requests
telegraph
tenacity
tgcrypto
uvloop
xattr
git+https://github.com/newreposs/onem2
